<h1><%= @traveler.name %></h1>
<h3>Tickets:</h3>
<ul>
<% @traveler.tickets.each do | ticket | %>
    <li>Ticket with: <%= ticket.airline.name %> <%= link_to :delete, "/tickets/#{ticket.id}", method: :delete %></li>
<% end %>
</ul> 